.galeria {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.galeria img {
    width: 180px;
    height: auto;
    border: 3px solid white;
    transition: opacity 300ms ease-in-out;
    opacity: 0.7;
}

.galeria img:hover {
    border: 3px solid white;
    opacity: 1.0;

}

figure.item {
    float: left;
    width: 180px;
    text-align: center;
}

figure {
    margin: 25px;
}
